{% extends 'base.html.twig' %}

{% block title %}Hello EmpruntController!{% endblock %}

{% block body %}
<main id="main">
    <h1 class="text-muted text-center py-2">Mon tableau de board</h1>
    <hr>
    <section class="container">
        <h2 class="text-muted text-center">Mes lecteurs</h2>

        <div  class="col-sm-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
            {% if label == 'success' %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span>
            {% else %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
            </div>
            {% endfor %}
            {% endfor %}
        </div>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                <th>{{user.id}}</th>
                <td>{{user.lastname}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{path('delete_user', {'id': user.id})}}"><i class="fa fa-trash"></i></a></a> 
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

{% endblock %}